@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body{
    margin: 0px;
}

h1{
    font-family: Yeseva One;
    color: rgb(175, 130, 130);
}
h2 {
    font-family: Didact Gothic;
}
p{
    font-family: Didact Gothic;
}

header{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(248, 230, 233);
    align-items: center;
    padding: 10px;
    box-shadow: 0px 5px 10px rgb(214, 157, 157);
}

header img{
    width: 150px;
}

nav li{
    display: inline;
    padding: 60px;
    font-size: 30px;
    font-family: Didact Gothic;;
}

nav a{
    text-decoration: none;
    color: rgb(214, 157, 157);
}

nav a:hover {
    color: rgb(175, 130, 130);
    text-decoration: underline;
}

.productos{
    display: flex;
    justify-content: center;
}

.ramos{
    display: inline-flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 30px;
}

.content{
    text-align: center;
}
.ramos img{
    width: 250px;
    height: 230px;
    border-radius: 10px;
}

.P1{
    text-align: center;
    background-color: rgb(250, 244, 245);
    border-radius: 20px;
}

.titulo{
    background-color: rgb(248, 230, 233);
    box-shadow: 0px 5px 10px;
}

.masVendido{
    display: flex;
    justify-content: center;
    align-items: center;
}
.masVendido img{
    float: left;
    width: 400px;
    border-radius: 10px;
    margin: 20px;
}

.masVendido p{
    font-size: 20px;
    text-align: left;
}

.info a{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: rgb(214, 157, 157);
    padding: 10px 60px 10px 60px;
    margin: 30px;
}

footer{
    background-color: rgb(248, 230, 233);
    padding: 30px;
    text-align: center;
}
